body {
  margin: 0;
  padding: 0;
}

.content {
  width: 100%;
  height: 1000px;
  background-color: lightyellow;
}

.fixed-box {
  width: 200px;
  height: 100px;
  background-color: lightgreen;
  position: fixed; /* Фиксированное позиционирование */
  top: 20px;
  right: 20px;
  z-index: 100; /* Большой z-index, чтобы элемент был всегда наверху */
}
